<style>
    .completed {
        text-decoration: line-through;
    }
    
    .padding-top-button {
        padding-top: 212px;
    }
    
    .padding-button-close {
        font-size: 12px;
        padding: 3px 7px;
    }
</style>
<div class="container">
    <div class="row">
        <app showwidgets='$ctrl.showwidgets[$index]' ng-repeat='widget in $ctrl.showwidgets track by $index'></app>
        <div class="col-md-2 padding-top-button">
            <button class='btn btn-default' ng-click='$ctrl.createNewWidget($event)' ng-hide="$ctrl.showwidgets[2]==true && $ctrl.showwidgets[1]==true && $ctrl.showwidgets[0]==true">
                Create
              </button>
        </div>
    </div>
</div>