<div class="todoVidget col-md-4" ng-show="$ctrl.showwidgets">
    <div class="panel panel-default panel-success">
        <div class="panel-heading">
            <span class="panel-title" ng-bind="::$ctrl.title"></span>
            <button class="btn btn-danger pull-right padding-button-close" ng-click="$ctrl.showwidgets = false">X</button>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="todo in $ctrl.todos track by $index">
                    <label ng-hide="todo.$edit">
                    <input type="checkbox" ng-model="todo.isComplete"> 
                    <span ng-bind="todo.title" ng-class="{completed: todo.isComplete}"></span>
                    </label>
                    <input type="text" class="form-control" ng-model="todo.title" ng-show="todo.$edit" ng-blur="$ctrl.save($event,todo,index)" autofocus="">
                    <button class="btn btn-danger pull-right" ng-click="$ctrl.remove($event, todo.id,index)" ng-hide="todo.$edit">X</button>
                    <button class="btn btn-info pull-right" ng-click="todo.$edit = true" ng-hide="todo.$edit">Edit</button>
                </li>
                <!--<li class="list-group-item" ng-if="$ctrl.isShow">
                    <a href="#" ng-click="$ctrl.fixMe($event,$index)">Click me</a>
                </li>-->
            </ul>
        </div>
        <div class="panel-footer">
            <input type="text" ng-class="{'form-control': $ctrl.isShow}" ng-model="$ctrl.newTitle" ng-blur="$ctrl.onBlur($event)" placeholder="Add todo">
            <button class="btn btn-success" ng-click="$ctrl.addToDo($event,$index)">Add</button>
        </div>
    </div>
</div>